.homain{
    height: auto;
    display: block;
    background-color: #fff;
    position: relative;
}
#sideb{
    z-index: 1002;
    margin-top: -120px;
}
.fle{
position: absolute;
top: 0;
right:40px;
}